$red_color: #ff589e;
$hover_color: #8261ee;
$txt_color: #777;
$gray_color: #ddd;
$white_color: #fff;
$black_color: #333;
$bg_color: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
$shadow: 0 2px 48px 0 rgb(0 0 0 / 10%);