@media (max-width: 1700px) {
    .navbar {
        margin: 10px 300px;
    }
}
@media (max-width: 1500px) {
    .navbar {
        margin: 10px 250px;
    }
}
@media (max-width: 1400px) {
    .navbar {
        margin: 10px 200px;
    }
}
@media (max-width: 1300px) {
    .navbar {
        margin: 10px 150px;
    }
}
@media (max-width: 1200px) {
    .navbar {
        margin: 10px 100px;
    }
}
@media (max-width: 1100px) {
    .navbar {
        margin: 10px 50px;
    }
}
@media (max-width: 1000px) {
    .navbar {
        margin: 10px 0px;
    }
}
@media (max-width: 991px) {
    .navbar {
        margin: 10px 100px;
        
        .links{
            text-align: center;
            
            .nav-link:not(:last-child){
                margin: 5px 0;
                position: relative;
                
                &::after{
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 70%;
                    height: 1px;
                    background-color: #ddd;
                }
            }
        }
    }
}