.right_row{
    padding: 15px 55px;
    position: relative;

    :first-child{
        margin-top: 55px;
    }

    p{
        color: colors.$txt_color
    }

    img{
        display: block;
        margin: 0 0 0 auto;
    }
}